pipeline/pl_point_for_each_test.json
{
	"name": "pl_point_for_each_test",
	"properties": {
		"description": "Populate Point staging - OSM Node data  > Point staging",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select countrycode  from countrylist\n",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "countries",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_point_admin_process",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_point_admin_process",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"country": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "AdminProcessPipeline"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-29T11:28:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}